
@{
    ViewBag.Title = "My_download_notes";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<!-- Dashboard Section -->
<section id="dashboard">

    <div class="container">

        <div class="mydownload">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <p>My download Notes</p>

                </div>
                <div class="col-md-5 col-sm-5 col-xs-12 text-right">
                    <div class="dashboard-search">
                        <div class="col-md-8 col-sm-8 col-xs-8">
                            <div class="form-input">
                                <input class="form-control" type="text">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4" id="search">
                            <a class="btn-general btn-work smooth-scroll" title="search" role="button">Search</a>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="mydownload-table table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ADDED DATE</th>
                                    <th scope="col">TITLE</th>
                                    <th scope="col">CATAGORY</th>
                                    <th scope="col">SELL TYPE</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">09-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">10-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Paid</td>
                                    <td>$100</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">11-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">12-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Paid</td>
                                    <td>$50</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">13-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">14-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">15-10-20</td>
                                    <td class="text-color">Data Science</td>
                                    <td>Science</td>
                                    <td>Paid</td>
                                    <td>$20</td>
                                    <td class="dropdown">
                                        <a href="#"><img src="~/Content/img/dashboard/eye.png"></a>
                                        <div id="dots" class="btn-group">
                                            <img class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="~/Content/img/dashboard/dots.png">
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="text-left action-dropdown-item" type="button">Download Note</button>
                                                <button class="text-left action-dropdown-item" type="button">Add Reviews/Feedback</button>
                                                <button class="text-left action-dropdown-item" type="button">Report as Inappropriate</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- </thead> -->
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="text-center" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>

        </div>

    </div>

    <div id="download-review" class="review-overlay">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <p id="review-heading"> Add Review</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <a href="javascript:void(0)" class="closebtn" onclick="closeReview()">&times;</a>
            </div>
            <div class="col-md-12 text-left">
                <p id="add-book-review-star" class="book-review-star"> <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="false"></i></p>
            </div>
            <div class="col-md-12 text-left">
                <div class="form-input">
                    <p>Comments*</p>
                    <textarea id="review-comments" class="form-control">
                        </textarea>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Dashboard Section Ends -->