<!DOCTYPE html>
<html lang="en">

<head>
    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>MarketPlace</title>

    <!-- Basic SEO -->
    <meta name="description" content="Creative website development with html5, css3, jQuery & bootstrap framework">
    <meta name="keywords" content="HTML5, CSS3, JQuery, Bootstrap, Web Design, Web Development, Responsive website, Creative website">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Fontawesome -->
    <link href="~/Content/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Responsive Tabs CSS -->
    <link href="~/Content/css/responsive-tabs/responsive-tabs.min.css" rel="stylesheet" />

    <!-- Animate CSS -->
    <link href="~/Content/css/animate/animate.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet" />
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="65">

    @RenderBody()

    <!-- JQuery -->
    <script src="~/Content/js/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>

    <!-- Responsive Tabs JS -->
    <script src="~/Content/js/responsive-tabs/jquery.responsiveTabs.min.js"></script>

    <!-- Counter -->
    <script src="~/Content/js/counter/jquery.counterup.min.js"></script>

    <!-- Easing -->
    <script src="~/Content/js/easing/jquery.easing.1.3.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Content/js/script.js"></script>
</body>


</html>